.container{
   
   margin: 0;
   padding: 0;
}
.body{
   width:100%;
   height:50rem;
   /* background-color:blue ; */
   background: url("/hp\ image3.webp");
   background-repeat: no-repeat;
}
.header{
   width:100%;
   height: 5rem;
   
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}
.logo{
   width:40px;
   
}
.password{
  
   width:20rem;
   height:10rem;
   /* background-color: blue; */
   border: solid rgb(8, 8, 8);
   padding: 1em;
   
}
.section{
   width: 100%;
   display: flex;
   justify-content: center;
}